<form #paymentForm="ngForm" (ngSubmit)="submitForm(paymentForm)">
    <label>Select Payment Methods:</label>
  
    <input type="text" id="merchantId" name="merchantId" [(ngModel)]="merchantId">
    <label for="merchantId">Merchant id</label>

    <input type="text" id="password" name="password" [(ngModel)]="password">
    <label for="password">Password</label>

    
    <input type="checkbox" id="creditCard" name="creditCard" [(ngModel)]="creditCardEnabled">
    <label for="creditCard">Credit card</label>

    <input type="checkbox" id="qrCode" name="qrCode" [(ngModel)]="qrCodeEnabled">
    <label for="qrCode">QR code</label>

    <input type="checkbox" id="paypal" name="paypal" [(ngModel)]="paypalEnabled">
    <label for="paypal">PayPal</label>

    <input type="checkbox" id="crypto" name="crypto" [(ngModel)]="cryptoEnabled">
    <label for="crypto">Crypto</label>

  
    <button type="submit">Submit</button>
  </form>
  