<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Law Issuing Agency</title>
</head>
<body>

<header>
  <h1>Law Issuing Agency</h1>
</header>

<section>
  <div class="service">
    <h2>Codification of Laws</h2>
    <p>
      Our service of codifying laws provides efficient organization and structuring of legal norms.
      A specialized team of legal experts ensures transparency and clarity in the legal system, facilitating access to information.
      Codification of laws contributes to a more efficient implementation of justice and stability in the legal system.
    </p>
    <p>Price: $100</p>
  </div>

  <div class="service">
    <h2>Issuing Laws in Printed Form</h2>
    <p>
      We offer the service of issuing laws in printed form. Our team of experts guarantees quality preparation and printing of laws
      while adhering to all legal norms. Printed documents are available in a professional format, tailored to your needs.
    </p>
    <p>Price: $150</p>
  </div>
  <div class="price">
    <h2>Total Price: {{ agencyAmount | currency }}</h2>
    <button mat-button (click)="calculatePayment()">Buy</button>
  </div>
</section>

<footer>
  <p>Contact us at agency@gmail.com</p>
</footer>

</body>
</html>
